$white: #fff;
$black: #000;

$header-border-color: #f3ebdc;

$slider-text-p: #535353;

$slider-h: #171717;

$gray: #2d2b27;

$offers-color: #2d2b27;

$brand-color: #898989;

$categories-link-color: #2d2b27;

$bg-subscribe: #d7dbd5;

$bg-links: #f8f8f8;
